# packages in environment at /opt/miniconda3:
#
# Name                      Version          Build               Channel
_libgcc_mutex               0.1              main
_openmp_mutex               5.1              1_gnu
anaconda-anon-usage         0.7.2            py313hfc0e8ea_100
annotated-types             0.7.0            pyhd8ed1ab_1        conda-forge
archspec                    0.2.5            pyhd8ed1ab_0        conda-forge
boltons                     25.0.0           py313h06a4308_0
brotlicffi                  1.1.0.0          py313h46c70d0_2     conda-forge
bzip2                       1.0.8            h4bc722e_7          conda-forge
c-ares                      1.34.5           hef5626c_0
ca-certificates             2025.8.3         hbd8a1cb_0          conda-forge
certifi                     2025.8.3         py313h06a4308_0
cffi                        1.17.1           py313h1fdaa30_1
charset-normalizer          3.4.3            pyhd8ed1ab_0        conda-forge
colorama                    0.4.6            pyhd8ed1ab_1        conda-forge
conda                       25.7.0           py313h06a4308_0
conda-anaconda-telemetry    0.3.0            pyhd3eb1b0_1
conda-anaconda-tos          0.2.2            py313h06a4308_1
conda-content-trust         0.2.0            py313h06a4308_1
conda-libmamba-solver       25.4.0           pyhd3eb1b0_0
conda-package-handling      2.4.0            pyh7900ff3_2        conda-forge
conda-package-streaming     0.12.0           py313h06a4308_0
cpp-expected                1.1.0            hff21bea_1          conda-forge
cryptography                45.0.6           py313hafb0bba_0     conda-forge
distro                      1.9.0            pyhd8ed1ab_1        conda-forge
expat                       2.7.1            h6a678d5_0
fmt                         11.2.0           h07f6e7f_0          conda-forge
frozendict                  2.4.6            py313h07c4f96_1     conda-forge
idna                        3.10             pyhd8ed1ab_1        conda-forge
jsonpatch                   1.33             py313h06a4308_1
jsonpointer                 3.0.0            py313h78bf25f_1     conda-forge
keyutils                    1.6.3            hb9d3cd8_0          conda-forge
krb5                        1.21.3           h659f571_0          conda-forge
ld_impl_linux-64            2.44             h1423503_1          conda-forge
libarchive                  3.8.1            gpl_h98cc613_100    conda-forge
libcurl                     8.14.1           h332b0f4_0          conda-forge
libedit                     3.1.20250104     pl5321h7949ede_0    conda-forge
libev                       4.33             hd590300_2          conda-forge
libexpat                    2.7.1            hecca717_0          conda-forge
libffi                      3.4.6            h2dba641_1          conda-forge
libgcc                      15.1.0           h767d61c_4          conda-forge
libgcc-ng                   15.1.0           h69a702a_4          conda-forge
libgomp                     15.1.0           h767d61c_4          conda-forge
libiconv                    1.18             h3b78370_2          conda-forge
liblzma                     5.8.1            hb9d3cd8_2          conda-forge
libmamba                    2.3.2            hae34dd5_0          conda-forge
libmambapy                  2.3.2            py313hd11374f_0     conda-forge
libmpdec                    4.0.0            h5eee18b_0
libnghttp2                  1.64.0           h161d5f1_0          conda-forge
libsolv                     0.7.35           h9463b59_0          conda-forge
libsqlite                   3.50.4           h0c1763c_0          conda-forge
libssh2                     1.11.1           hcf80075_0          conda-forge
libstdcxx                   15.1.0           h8f9b012_4          conda-forge
libstdcxx-ng                15.1.0           h4852527_4          conda-forge
libuuid                     2.38.1           h0b41bf4_0          conda-forge
libxml2                     2.13.8           h2cb61b6_1          conda-forge
libzlib                     1.3.1            hb9d3cd8_2          conda-forge
lz4-c                       1.10.0           h5888daf_1          conda-forge
lzo                         2.10             h280c20c_1002       conda-forge
markdown-it-py              4.0.0            py313h06a4308_0
mdurl                       0.1.2            pyhd8ed1ab_1        conda-forge
menuinst                    2.3.1            py313h78bf25f_1     conda-forge
ncurses                     6.5              h2d0b736_3          conda-forge
nlohmann_json               3.11.3           he02047a_1          conda-forge
openssl                     3.5.2            h26f9b46_0          conda-forge
packaging                   25.0             pyh29332c3_1        conda-forge
pip                         25.2             pyh145f28c_0        conda-forge
platformdirs                4.4.0            pyhcf101f3_0        conda-forge
pluggy                      1.6.0            pyhd8ed1ab_0        conda-forge
pybind11-abi                4                hd8ed1ab_3          conda-forge
pycosat                     0.6.6            py313h5eee18b_2
pycparser                   2.22             pyh29332c3_1        conda-forge
pydantic                    2.11.7           py313h06a4308_0
pydantic-core               2.33.2           py313hc6f7160_0
pygments                    2.19.2           pyhd8ed1ab_0        conda-forge
pysocks                     1.7.1            pyha55dd90_7        conda-forge
python                      3.13.5           hec9711d_102_cp313  conda-forge
python_abi                  3.13             8_cp313             conda-forge
readline                    8.3              hc2a1206_0
reproc                      14.2.5.post0     hb9d3cd8_0          conda-forge
reproc-cpp                  14.2.5.post0     h5888daf_0          conda-forge
requests                    2.32.5           pyhd8ed1ab_0        conda-forge
rich                        14.1.0           pyhe01879c_0        conda-forge
ruamel.yaml                 0.18.15          py313h07c4f96_0     conda-forge
ruamel.yaml.clib            0.2.12           py313h5eee18b_0
setuptools                  80.9.0           pyhff2d567_0        conda-forge
simdjson                    3.13.0           h84d6215_0          conda-forge
sqlite                      3.50.4           hbc0de68_0          conda-forge
tk                          8.6.13           noxft_hd72426e_102  conda-forge
tqdm                        4.67.1           pyhd8ed1ab_1        conda-forge
truststore                  0.10.3           pyhe01879c_0        conda-forge
typing-extensions           4.15.0           py313h06a4308_0
typing-inspection           0.4.1            pyhd8ed1ab_0        conda-forge
typing_extensions           4.15.0           py313h06a4308_0
tzdata                      2025b            h04d1e81_0
urllib3                     2.5.0            py313h06a4308_0
wheel                       0.45.1           pyhd8ed1ab_1        conda-forge
yaml-cpp                    0.8.0            h6a678d5_1
zstandard                   0.23.0           py313h07c4f96_3     conda-forge
zstd                        1.5.7            hb8e6e7a_2          conda-forge
